/* Fonts */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared Styles */
main {
    background-color: #f5f7ff;
}
.text-primary {
    color: #4E47FF;
}
header {
    background-image: url(images/Hero-bg.png);
}
.all-button:hover {
    background-color: black;
}

/* Nav Styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav-logo {
    color: #4E47FF;
    font-size: 34px;
    margin: 50px 150px;
}
.nav-button {
    background-color: #4E47FF;
    color: white;
    margin: 50px 150px;
    padding: 12px 36px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
}

/* Banner Styles */
.banner {
    text-align: center;
}
.banner-title {
    font-weight: bold;
    font-size: 65px;
}
.banner-button {
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px;
    margin-bottom: 152px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

/* Action Styles */
.action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 220px;
    padding-top: 116px;
    margin: 0px 160px 116px 160px;
}
.action-title h4 {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 23px;
}
.action-title div {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 23px;
}
.action-title button {
    font-size: 16px;
    font-weight: bold;
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px 36px;
}
.action-image img{
    border-radius: 48px;
}

/* User Style */
.user {
    text-align: center;
    margin: 0px 160px 137px 160px;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    backface-visibility: 2%;
    padding: 15px 142px 50px 142px;
}
.user-title p{
    font-size: 38px;
    color: rgba(37, 36, 50, 1);
    font-weight: 600;
}
.user-detail {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 158px;
}
.sec1-head, .sec2-head, .sec3-head {
    font-size: 80px;
    color: #4E47FF;
    font-weight: bold;
}
.sec1-body, .sec2-body, .sec3-body {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

/* Review style */
.review-section {
    text-align: center;
    margin: 0px 150px;
}
.reviews-title {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 50px
}
.reviews {
    display: flex;
    gap: 20px;
}
.review {
    background-color: white;
    border: 1px;
    border-radius: 14px;
    text-align: left;
    padding: 24px 24px;
    margin-bottom: 137px;
}
.star {
    color: #FFB805;
    font-size: 20px;
}
.stars {
    margin-bottom: 24px;
}
.reviewer {
    display: flex;
}
.review-title {
    font-size: 30px;
    font-weight: 550;
    margin: 8px 0px;
}
.review-desc {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 24px;
}
.reviewer-photo img{
    border-radius: 100px;
    margin-right: 10px;
    height: 40px;
    width: 40pxs;
}
.reviwer-name {
    font-size: 15px;
}
.review-date {
    font-size: 13px;
    font-weight: 200;
}

/* Focus Section */
.focus {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    margin: 0px 150px 95px 150px;
    padding: 71px 150px;
}
.focus-title {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}
.focus-desc {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}
.focus-button {
    background-color: #4E47FF;
    font-size: 16px;
    color: white;
    width: 195px;
    height: 48px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}
.focus-img img {
    border-radius: 48px;
}

/* Contact Styles */
.contacts {
    display: flex;
    justify-content: center;
    gap: 115px;
    margin: 0px 150px 5px 150px;
    padding: 70px 0px 70px 0px;
}
.contact-title {
    font-size: 90px;
}
.contact-info label, .contact-info input, .contact-info textarea {
    display: block;
    font-size: 20px;
    margin: 10px 0px;
}
.contact-info input, .contact-info textarea {
    padding: 0px 15px;
    width: 497px;
    height: 70px;
}
.contact-info textarea {
    padding-top: 10px;
    padding-bottom: 10px;
}
.touch-button {
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 10px;
    width: 510px;
    height: 70px;
}